<ul id="listOfPostId" class="list-group">

    {{#each data}}
    <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <a href="/post/{{this.category}}/{{this.id}}" title="This A Post"
                            class="list-group-item list-group-item-action">
                            <div class="card-body">
                                <h5 class="card-title">Title: {{this.title}}</h5>
                                <p class="card-text">Description: {{this.description}}</p>
                                <p class="card-text"> This URL is just for testing: /post/{{this.category}}/{{this.id}}</p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <hr>
    {{/each}}
</ul>