<div class="container li-container list-group-item" style="border: 0 none;background-color: lightGray;">
  <div class="row">
    <div class="col-md-12">

      <div class="card-body">
        <p class="card-text">({{data.userName}}) {{calculateTheAmountTimeSincePostOut data.timeStamp}}</p>
        <h5 class="card-title">Title: {{data.title}}</h5>
        <p class="card-text">Description: {{data.description}}</p>
        <a href="{{data.linkUrl}}">{{data.linkUrl}}</a>
        <img src="{{data.imageUrl}}" alt="Post Image">
        <p class="card-text"> This URL is just for testing: /post/{{data.category}}/{{data.id}}</p>
        <p class="card-text"> {{data.like}} <i class="far fa-thumbs-up fa-lg"></i> {{data.disLike}} <i
            class="far fa-thumbs-down fa-lg"></i> <span style="float: right">{{data.reviews.length}} Comments</span></p>
      </div>

      <ul id="listOfPostId" class="list-group" style="background-color: lightGray;">
        <h1>Comments: {{data.reviews.length}}</h1>
        {{#each data.reviews}}
          <div style="margin-bottom: 10px; margin-left: 10%; background-color: gray;">
            <p class="card-text"> {{calculateTheAmountTimeSincePostOut this.timeStamp}}</p>
            <p>UserName: {{this.userName}}</p>
            <p>Comment: {{this.comment}}</p>
            <p class="card-text"> {{this.like}} <i class="far fa-thumbs-up fa-lg"></i> {{this.disLike}} <i
                class="far fa-thumbs-down fa-lg"></i></p>
          </div>
        {{/each}}
      </ul>

    </div>
  </div>
</div>




<script>
  $(".dislike_button button").on("click", function () {
    var $count = $(this).parent().find('.count');
    $count.html($count.html() * 1 + 1);
    $(this).hide()
  });
  $(".like_button button").on("click", function () {
    var $count = $(this).parent().find('.count');
    $count.html($count.html() * 1 + 1);
  });
</script>