<h1>Testing: From renderSinglePost.handlebars</h1>
<ul id="listOfPostId" class="list-group">


    <h5 class="card-title">Title: {{data.title}}</h5>
        <p class="card-text">Description: {{data.description}}</p>
        <a href={{data.linkUrl}}>URL: {{data.linkUrl}}</a>
        <img src="{{data.imageUrl}}" alt="">
        <p> This URL is just for testing: /post/{{data.category}}?id={{data.id}}</p>
        <p>Comments: {{data.reviews.length}}</p>
        <a href="#" class="btn btn-primary">Read ...</a>


</ul>