<ul class="list-group ul-container" id="listOfPostId">

    {{#each data}}
    <li class="li-container list-group-item" style="border: 0 none; background-color: Black;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{!-- <div class="card" id="card-Id" style="background-color: Gray;"> --}}
                        <a href="/post/{{this.category}}/{{this.id}}" title="{{this.category}} post"
                            class="list-group-item list-group-item-action a-container">
                            <div class="card-body">
                                <p class="card-text"> {{calculateTheAmountTimeSincePostOut this.timeStamp}}</p>
                                <h5 class="card-title postTitle">Title: {{this.title}}</h5>
                                <p class="card-text">Description: {{this.description}}</p>
                                {{!-- <p class="card-text"> This URL is just for testing: /post/{{this.category}}/{{this.id}}</p> --}}
                                <p class="card-text"> {{this.like}} <i class="far fa-thumbs-up fa-lg"></i> {{this.disLike}} <i class="far fa-thumbs-down fa-lg"></i> <span style="float: right">{{this.reviews.length}} Comments</span></p>   
                           </div>
                        </a>
                    {{!-- </div> --}}
                </div>
            </div>
        </div>
    </li>
    {{/each}}
</ul>

<script>

function myFunction() {
  // Declare variables
  var input, filter, a, i, ul, li, txtValue
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("listOfPostId");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query

  for (i=0; i<li.length; i++) {

    console.log(li[i])
    a = li[i].getElementsByClassName("postTitle")[0];
    console.log(a)
   txtValue = a.textContent || a.innerText;
   if (txtValue.toUpperCase().indexOf(filter) > -1) {
     li[i].style.display = "";
   } else {
     li[i].style.display = "none";
      }
  }
}
</script>
