<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for posts">
<ul id="listOfPostId" class="list-group">

    {{#each data}}
    <li class="list-group-item">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <a href="/post/{{this.category}}/{{this.id}}" title="This A Post"
                            class="list-group-item list-group-item-action">
                            <div class="card-body">
                                <h5 class="card-title">Title: {{this.title}}</h5>
                                <p class="card-text">Description: {{this.description}}</p>
                                <p class="card-text"> This URL is just for testing: /post/{{this.category}}/{{this.id}}</p>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <hr>
    {{/each}}
</ul>

<script>

function myFunction() {
  // Declare variables
  var input, filter, a, i, ul, li, txtValue
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("listOfPostId");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query

  for (i=0; i<li.length; i++) {

    console.log(li[i])
    a = li[i].getElementsByClassName("card-title")[0];
    console.log(a)
   txtValue = a.textContent || a.innerText;
   if (txtValue.toUpperCase().indexOf(filter) > -1) {
     li[i].style.display = "";
   } else {
     li[i].style.display = "none";
      }
  }
}
</script>
